<form action="" class="formulario">
    <h1 class="formulario__titulo">Formulario</h1>
    <input type="text" class="formulario__input" name="inp" appMaskCed formControlName="name">
    <label for="" class="formulario__label">
            Cedula
        </label>
    <input type="text" class="formulario__input" name="inp" appMaskMonto formControlName="name">
    <label for="" class="formulario__label">
            Monto
        </label>
    <input type="text" class="formulario__input" name="inp" appMaskCorreo formControlName="name">
    <label for="" class="formulario__label">
            Correo
        </label>
    <input type="submit" class="formulario__submit">
</form>